body{
  padding: 1em;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;

}

.trigger img{
  height: 4em;
}

#modaalAchtergrond{
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
}

#modaalVenster{
  width: 80vh;
  justify-self: center;
  align-self: center;
  background-color: #fff;
  padding: 2em;
  max-height: 90vh;
  overflow: auto;
}

#sluitKnop{
  float: right;
}
